@use './partials/colors.scss' as *;
@use './partials/typography.scss' as *;

*{
  margin:0;
  box-sizing: border-box;
  font-family: $primary-font;
  font-weight: $normal-weight;
}

.App {
  margin:0;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary-accent-color;
}

