$primary-color:#3D5B59;
$secondary-color:#aaf9d5;

$primary-aceent-color:#ffc9c2;
$secondary-accent-color:linear-gradient(25deg, rgb(76, 121, 245) 0%, rgb(166, 124, 233) 23%, rgb(208, 82, 120) 73%, rgb(131, 213, 232) 99%);