$primary-color:#3D5B59;
$secondary-color:#aaf9d5;

$primary-aceent-color:#ffc9c2;
$secondary-accent-color: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);

$label-color:rgb(126, 126, 126);
$shadow:rgba(116, 232, 240, 0.844) 0px 48px 100px 0px;